.title {
  position: absolute;
  top: 50px;
  left: 40%;
  text-align: center;
  margin: auto;
}

.wrongAnswers {
  position: absolute;
  top: 50px;
  left: 40%;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
.backGroundImage {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.hangman {
  position: absolute;
  top: 20%;
  left: 26.5%;
  margin: auto;
}
.guessedWordDash {
  font-size: 110px;
  font-weight: bold;
  text-align: center;
}
