.title {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrongAnswers {
  position: absolute;
  top: 40px;
  right: 30px;
}

.guessWord {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
.backGroundImage {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hangman {
  position: absolute;
  top: 430px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.guessedWordDash {
  font-size: 110px;
  font-weight: bold;
  position: absolute;
  top: 630px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playAgain {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
